<div>
    <h1>警告提示</h1>
    <ng-template #template1>
        <div class="ant-notification-notice-content">
            <nz-alert nzType="success" nzMessage="Success Tips" nzShowIcon></nz-alert>
        </div>
    </ng-template>
    <ng-template #template2>
        <div class="ant-notification-notice-content">
            <nz-alert nzType="info" nzMessage="Informational Notes" nzShowIcon></nz-alert>
        </div>
    </ng-template>
    <ng-template #template3>
        <div class="ant-notification-notice-content">
            <nz-alert nzType="warning" nzMessage="Warning" nzShowIcon></nz-alert>
        </div>
    </ng-template>
    <ng-template #template4>
        <div class="ant-notification-notice-content">
            <nz-alert nzType="error" nzMessage="Error" nzShowIcon></nz-alert>
        </div>
    </ng-template>
    <ng-template #template5>
        <div class="ant-notification-notice-content">
            <nz-alert nzType="success" nzMessage="Success Tips" nzDescription="Detailed description and advices about successful copywriting."
                nzShowIcon>
            </nz-alert>
        </div>
    </ng-template>
    <ng-template #template6>
        <div class="ant-notification-notice-content">
            <nz-alert nzType="info" nzMessage="Informational Notes" nzDescription="Additional description and informations about copywriting."
                nzShowIcon>
            </nz-alert>
        </div>
    </ng-template>
    <ng-template #template7>
        <div class="ant-notification-notice-content">
            <nz-alert nzType="warning" nzMessage="Warning" nzDescription="This is a warning notice about copywriting." nzShowIcon>
            </nz-alert>
        </div>
    </ng-template>
    <ng-template #template8>
        <div class="ant-notification-notice-content">
            <nz-alert nzType="error" nzMessage="Error" nzDescription="This is an error message about copywriting." nzShowIcon>
            </nz-alert>
        </div>
    </ng-template>

    <button nz-button [nzType]="'primary'" (click)="createBasicNotification(template1)">点击右侧出现Success警告框</button>
    <button nz-button [nzType]="'primary'" (click)="createBasicNotification(template2)">点击右侧出现Informational警告框</button>
    <button nz-button [nzType]="'primary'" (click)="createBasicNotification(template3)">点击右侧出现Warning警告框</button>
    <button nz-button [nzType]="'primary'" (click)="createBasicNotification(template4)">点击右侧出现Error警告框</button>
    <button nz-button [nzType]="'primary'" (click)="createBasicNotification(template5)">点击右侧出现Success警告框</button>
    <button nz-button [nzType]="'primary'" (click)="createBasicNotification(template6)">点击右侧出现Informational警告框</button>
    <button nz-button [nzType]="'primary'" (click)="createBasicNotification(template7)">点击右侧出现Warning警告框</button>
    <button nz-button [nzType]="'primary'" (click)="createBasicNotification(template8)">点击右侧出现Error警告框</button>
</div>
