<div class="d-flex align-items-center justify-content-center">
    <!-- <nz-list [nzDataSource]="data" nzBordered [nzRenderItem]="item">
        <ng-template #item let-item>
            <nz-list-item [nzContent]="item"></nz-list-item>
        </ng-template>
    </nz-list> -->

    <div class="d-block">
        <div nz-row>
            <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
                Col
            </div>
            <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="4">
                Col
            </div>
            <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="10">
                Col
            </div>
        </div>
    </div>

</div>
