<div>
    <h1>快速菜单</h1>
    <quick-menu *ngIf="pptC.jumpNumber === 34">
        <nz-list [nzBordered]="false" [nzSplit]="false">
            <nz-list-item>
                <a href="#">菜单1</a>
            </nz-list-item>
            <nz-list-item>
                <a href="#">菜单2</a>
            </nz-list-item>
            <nz-list-item>
                <a href="#">菜单3</a>
            </nz-list-item>
            <nz-list-item>
                <a href="#">菜单4</a>
            </nz-list-item>
            <nz-list-item>
                <a href="#">菜单5</a>
            </nz-list-item>
        </nz-list>
    </quick-menu>
</div>
