<div>
    <h1>文本行的斑马条纹</h1>
    <div class="new-css text-stripe">
        <pre>
    {{
        'function filter(arr, exec) {
            var res = arr.reduce((res, item, index)  {
                if (exec(item, index)) {
                    res.push(item)
                }
                return res
            }, [])
            return res
        }
    
        [1, 2, 3].filter((item, index) = index   2) // [1, 2]
        filter([1, 2, 3], (item, index) = index  2) // [1, 2]'
    }}
        </pre>
    </div>
</div>
