.ppt {
    position: relative;
    transition: 0.5s ease 0s;
    top: 0;
}

.ppt>*>* {
    display: block;
    height: 100vh;
    overflow: hidden;
    padding: 40px;
}

i.anticon:hover {
    font-size: 18px;
    transition: 0.25s ease 0s;
}

.bottom-right-box {
    position: fixed;
    right: 20px;
    height: 30px;
    padding: 0;
    bottom: 20px;
}
